* {
    margin: 0;
    padding: 0;
}
ol,ul,li{
	list-style: none;
}
a{
	text-decoration: none;
}
.top {
	width: 100%;
	height: 115px;
	background-color: white;
	position: static;
	margin:0 auto;
	z-index: 5;
}
.up {
	height: 30px;
	width: 1180px;
	margin:0 auto;
}
.top_a {
	float: left;
}
.top_a a{
	color:rgb(160,160,160);
	font-size:8px;
	text-decoration: none;
}
.top_b{
	float: right;
	margin-top: 5px;
}
.top_b a {
	color:rgb(160,160,160);
	margin-left: 14px;
	font-size: 12px;
	text-decoration: none;
}
.common{
	display: block;
	float: left;
	width: 19px;
	height: 19px;
	margin-top: 2px;
}
.logo03{
	float: left;
}
.logo03:after{
	content:"";
	height:0;
	display:block;
	clear:both;
}
.nav1{
	width: 1180px;
	height:93px;
	margin-top: 15px;
	margin:0 auto;
}
.search{
	width: 600px;
	height: 60px;
	margin-left: 105px;
	float: left;
}
.tishi{
	width: 500px;
	height: 30px;
	border: 4px solid rgb(254,108,0);
	float: left;
	outline: none;
	margin-top: 15px;
	font-size: 12px;
}
.sou {
	width: 80px;
	height:38px;
	background-color: rgb(254,108,0);
	float: left;
	margin-top: 15px;
}
.sou a{
	margin-top: 8px;
	display: block;
	color: white;
	text-align:center;
	text-decoration: none;
}
.lianxi{
	width:280px ;
	height:50px ;
	float: right;
	margin-top: 10px;
}
.tell{
	color: rgb(182,150,172);
	font-size: 12px;
	text-align: center;
	width: 90px;
	height: 40px;
	border: 1px solid rgb(230,229,226);
	border-radius: 3px;
	float: left;
}
.question{
	width: 92px;
	height: 38px;
	border: 1px solid rgb(255,77,4);
	background-color: rgb(255,77,4);
	border-radius: 3px;
	float: left;
}
.question a{
	display: block;
	color: white;
	text-align: center;
	padding-left: 10px;
	text-decoration: none;
}
.nav2{
	width:580px;
	height:20px;
	margin-left: 245px;
}
.nav2 a{
	text-decoration: none;
}
.nav2 li{
	float: left;
	height: 17px;
	padding:0 10px;
	border-right: 1px solid rgb(235,235,231);
}
.a_12{
	color: red;
	font-size: 11px;
	display: block;
	padding-bottom: 5px;
}
.a_34{
	color:rgb(02,101,96); 
	font-size: 11px;
	display: block;
	padding-bottom: 5px;
}
.a_56{
	color: rgb(192,169,211);
	font-size: 11px;
	display: block;
	padding-bottom: 5px;
}
.a_8{
	color: 	rgb(102,101,96);
	font-size: 11px;
	display: block;
	padding-bottom: 5px;
}
.nav3{
	width: 1180px;
	height: 40px;
	margin:0 auto;
}
.allGoods{
	width: 170px;
	height: 30px;
	background-color: rgb(255,77,4);
	padding-top: 10px;
	text-align: center;
	margin-left: 0px;
	float: left;
}
.allGoods a{
	color: white;
	text-decoration: none;
}
.top2{
	width: 107px;
	height: 30px;
	padding-top: 10px;
	text-align: center;
	float: left;
}
.top22{
	width: 107px;
	height: 20px;
	padding-top: 12px;
	text-align: center;
	float: left;
}
.top22 a{
	color: black;
	height: 30px;
	font-size:14px;
	position: absolute;
	text-decoration: none;
}
.top22 a:hover{
	color: rgb(254,108,0);
}
.top22 img{
	position: relative;
	top: -10px;
	left: 50px;
}
.top2 a{
	color: black;
	height: 30px;
	font-size:14px;
	text-decoration: none;
}
.top2 a:hover{
	color: rgb(254,108,0);
}
.content{
	width: 100%;
	background-color: rgb(248,247,246);
	border-top: 1px solid rgb(255,77,4);
}
.main{
	width:1180px ;
	height:545px;
	background-color: white;
	margin:0 auto;
}
.left{
	width: 169px;
	height: 545px;
	float: left;
}
.leftup{
	width: 169px;
	height: 422px;
}
.lul{
	width: 25px;
	height: 422px;
	float: left;
	background-color: rgb(76,76,74);
}
.lul p{
	color: rgb(255,77,75);
	text-align: center;
	margin-top: 23px;
	line-height: 23px;
	float: left;
}
.lur p{
	display: block;
	text-align: center;
	line-height: 15px;
	float: left;
	margin-top: 15px;
	margin-left: 13px;
}
.lur a{
	color: black;
	font-size: 10px;
	margin-right: 7px;
	text-decoration: none;
}
.leftdown{
	width: 161px;
	height: 123px;
	border-top: 1px solid rgb(255,77,4);
	padding-left: 8px;
}
.leftdown li{
	line-height: 39px;
	float: left;
}
.leftdown a{
	color: rgb(133,93,55);
	font-size:14px;
	display: block;
	float: left;
	text-decoration: none;
}
.sort{
	width: 22px; 
	height: 22px;
	margin-top: 7px; 
	margin-right: 10px;
}
.mid{
	width: 800px;
	height: 545px;
	float: left;
}
.mid:after{
	content:"";
	height:0;
	display:block;
	clear:both;
}
.box{
	width:800px;
	height:360px;
	position: relative;
	overflow: hidden;
}
.slider {
	width: 6400px;
	position: absolute;
	left: -800px;
}
.slide {
	width: 800px;
	float: left;
	margin: 0px;
}
.box>span {
	display: block;
	width: 60px;
	height: 60px;
	cursor: pointer;
	top: 135px;
	position: absolute;
	opacity: 0;
}
#mleft {
	left: 10px;
}
#mright {
	right: 10px;
}
.mnav {
	position: absolute;
	left: 310px;
	bottom: 20px;
}
.mnav>li {
	float: left;
	width: 20px;
	height: 20px;
	background: rgb(239,238,236);
	cursor: pointer;
	margin: 0 5px;
	border-radius: 50%;
	text-align: center;
}
.mnav .mactive {
	background-color:rgb(254,108,0);
}
.static{
	width: 800px;
	height: 185px;
	border-top: 1px solid rgb(255,77,4);
	border-right: 1px solid rgb(255,77,4);
}
.static img{
	padding: 0;
	float: left;
}
.right{
	width: 210px;
	height: 545px;
	border-left: 1px solid rgb(255,77,4);
	float: left;
}
.rightup{
	width: 210px;
	height:360px;
}
.bangbang{
	width: 200px;
	height:30px;
	border-bottom: 1px solid rgb(235,234,231);
	padding-top: 15px;
}
.bangbang a{
	font-size: 13px;
	color: rgb(255,77,4);
	float: left;
	font-weight: bolder;
	text-decoration: none;
}
.notice{
	float: left;
	margin-left: 20px;
	margin-right: 10px;
	margin-top: 3px;
}
.jiantou{
	float: left;
	margin-left: 60px;
	margin-top: 5px;
}
.gonggao{
	width: 210px;
	height: 315px;
	position: relative;
	overflow: hidden;
}
.gonggao ul{
	width: 210px;
	height: 754px;
	top:0;
	position: absolute;
	overflow: hidden;
}
.gonggao li{
	width: 210px;
	height: 29px;
	margin-left: 13px;
	top: 0;
}
.gonggao li::after {
    display: block;
    height: 0;
    clear: both;
 }
.gonggao a{
	font-size: 13px;
	color: rgb(254,108,0);
	font-weight: bolder;
	text-decoration: none;
}
.rightdown{
	width: 210px;
	height: 185px;
	border-top: 1px solid rgb(235,234,231);
}
.phone{
	width: 200px;
	height:20px;
	margin-top: 8px;
	margin-left: 15px;
}
.phone img{
	float: left;
	margin-right: 15px;
}
.phone p{
	padding-bottom: 3px;
	font-size: 13px;
}
.phone span{
	color: rgb(255,77,4);
	font-size: 12px;
}
.number input{
	width: 125px;
	height:18px;
	margin-left: 15px;
	margin-top: 7px;
	outline: none;
}
.count{
	width: 190px;
	height:20px;
	margin-left: 15px;
	margin-top: 7px;
}
.count select{
	outline: none;
	margin-bottom: 3px;
	float: left;
	margin-right: 5px;
}
.count p{
	color: rgb(254,108,0);
	float: left;
	font-size: 13px;
}
.but button{
	width: 180px;
	height:26px;
	background-color: rgb(255,77,4);
	color: white;
	text-align: center; 
	margin-left: 15px;
	margin-top: 10px;
	border-radius: 5px;
	outline: none;
	border: none;
}
.tail{
	width: 1180px;
	height: 400px;
	margin:0 auto;
}
.tailup{
	width: 1180px;
	height: 186px;
	margin:0 auto;
}
.loginB{
	float: left;
}
.erweima{
	float: left;
	margin-top: 30px;
}
.tailur{
	width: 955px;
	height: 186px;
	float: right;
	border-bottom: 1px solid rgb(235,234,232);
	padding-left: 70px;
}
.tailur ul{
	width: 120px;
	height: 350px;
	float: left;
	margin-top: 30px;
	padding-right: 10px;
}
.tail li{
	line-height: 24px;
}
 .li1{
 	font-size: 17px;
 }
.tailur a{
	font-size: 13px;
	color: rgb(102,101,96);
	text-decoration: none;
}
.last1{
	width: 700px;
	height:25px;
	margin-top: 15px;
	margin-left: 250px;
	margin:0 auto;
}
.last1 li{
	width: 75px;
	height: 17px;
	border-right: 1px solid rgb(208,205,199);
	float: left;
	text-align: center;
}
.last1 a{
	color: rgb(102,101,98);
	font-size: 13px;
	display: block;
	text-decoration: none;
}
.last2{
	width: 1180px;
	height: 60px;
	margin-top: 5px;
	margin:0 auto;
}
.last2 p{
	text-align: center;
	font-size: 12px;
	color: rgb(155,163,187);
	line-height: 20px;
}
.last3{
	width: 990px;
	height:60px;
	padding-left: 190px;
	padding-bottom: 0px;
	margin-top: 5px;
	margin:0 auto;
}
.last3 img{
	float: left;
	padding-right: 6px;
}
.p1{
	margin-top: 6px;
}
.p2{
	margin-top: 13px;
}

.gu1{
	position:absolute;
}
.gu2{
	position: relative;
	top: 60px;	
	left: 1px;
}
#g1{
	position: fixed;
	right: -80px;
	top: 80px;	
	width: 123px;
	height: 104px;
}
.gu3{	
	float: left;
	position: absolute;
}
.gp1{
	color: black;
	margin-top: 50px;
	margin-left: 60px;
	font-size: 10px;
	font-weight: bolder;
	float: left;
	position: relative;
}
.gp2{
	width: 32px;
	height: 20px;
	color: white;
	margin-top: 13px;
	margin-left: 60px;
	font-size: 10px;
	font-weight: bolder;
	outline: none;
	border:1px solid white;
	text-align: center;
	background-color: rgb(253,154,110);
	float: left;
	position: relative;
}
#g2{
	position: fixed;
	right: -80px;
	top: 187px;	
	width: 123px;
	height: 140px;
	background-color: rgb(253,154,110);
}
#serwei{
	margin-top: 35px;
	margin-left: 10px;
	float: left;
}
#gu5{	
	width: 80px;
	top: 380px;	
	margin-bottom: 8px;
	margin-left: 15px;
	display: none;
}
#g3{
	position: fixed;	
	right: -80px;
	top: 330px;
	width: 123px;
	height: 140px;
	background-color: rgb(253,154,110);
}
#g4{
	position: fixed;	
	right: -80px;
	top: 473px;
	width: 123px;
	height: 140px;
}
