* {
    margin: 0;
    padding: 0;
}
ol,ul,li{
	list-style: none;
}
.top{
	width: 1180px;
	height: 130px;
	margin: 0 auto;
}
.up{
	height: 30px;
	width: 1180px;
	margin: 0 auto;
}
.top_a {
	padding-left: 0px;
	float: left;
}
.top_a a{
	color:rgb(160,160,160);
	font-size:8px;
	text-decoration: none;
}
.top_b{
	float: right;
	margin-top: 5px;
}
.top_b a {
	color:rgb(160,160,160);
	margin-left: 14px;
	font-size: 12px;
	text-decoration: none;
}
.common{
	display: block;
	float: left;
	width: 19px;
	height: 19px;
	margin-left: 19px;
	margin-top: 2px;
}
.logo03{
	float: left;
}
.logo03:after{
	content:"";
	height:0;
	display:block;
	clear:both;
}
.nav1{
	width: 1180px;
	height:93px;
	margin-top: 15px;
	margin: 0 auto;
}
.search{
	width: 600px;
	height: 60px;
	margin-left: 105px;
	float: left;
}
.tishi{
	width: 500px;
	height: 30px;
	border: 4px solid rgb(254,108,0);
	float: left;
	outline: none;
	margin-top: 15px;
	font-size: 12px;
}
.sou {
	width: 80px;
	height:38px;
	background-color: rgb(254,108,0);
	float: left;
	margin-top: 15px;
}
.sou a{
	margin-top: 8px;
	display: block;
	color: white;
	text-align:center;
	text-decoration: none;
}
.lianxi{
	width:280px ;
	height:50px ;
	float: right;
	margin-top: 10px;
}
.tell{
	color: rgb(182,150,172);
	font-size: 12px;
	text-align: center;
	width: 90px;
	height: 40px;
	border: 1px solid rgb(230,229,226);
	border-radius: 3px;
	float: left;
}
.question{
	width: 92px;
	height: 38px;
	border: 1px solid rgb(255,77,4);
	background-color: rgb(255,77,4);
	border-radius: 3px;
	float: left;
}
.question a{
	display: block;
	color: white;
	text-align: center;
	padding-left: 10px;
	text-decoration: none;
}
.nav2{
	width:580px;
	height:20px;
	margin-left: 245px;
}
.nav2 li{
	float: left;
	height: 17px;
	padding:0 10px;
	border-right: 1px solid rgb(235,235,231);
}
.nav2 a{
	text-decoration: none;
}
.a_12{
	color: red;
	font-size: 11px;
	display: block;
	padding-bottom: 5px;
}
.a_34{
	color:rgb(02,101,96); 
	font-size: 11px;
	display: block;
	padding-bottom: 5px;
}
.a_56{
	color: rgb(192,169,211);
	font-size: 11px;
	display: block;
	padding-bottom: 5px;
}
.a_8{
	color: 	rgb(102,101,96);
	font-size: 11px;
	display: block;
	padding-bottom: 5px;
}
.nav3{
	width: 100%;
	height: 40px;
	background-color: black;
}
.nav3_mid{
	width: 1180px;
	height: 40px;
	margin: 0 auto;
}
.nav3_mid ul{
	float: left;
}
.nav3_mid li{
	height: 40px;
	width: 120px;
	float: left;
	text-align: center;
}
.nav3_mid a{
	color: white;
	font-size: 13px;
	display: block;
	padding-top: 12px;
	text-decoration: none;
}
.ff{
	float: left;
	margin-left: 55px;
}
.content{
	width: 100%;
	height: 759px;
	background-color: rgb(246,245,244);
}
.mid{
	width: 1180px;
	margin: 0 auto;
}
.mid a{
	text-decoration: none;
}
.top{
	color: black;
	font-size: 12px;
}
.good{
	width: 1180px;
	height: 630px;
	margin: 0 auto;
}
.gl{
	width: 1000px;
	height:630px;
	background-color: white;
	float: left;
}
.gll{
	width:430px;
	height: 630px;
	float: left; 
}
#box {
    width: 800px;
    height: 400px;
    margin-left: 20px;
	margin-top: 20px;
}
#img1 {
    width: 400px;
    height: 400px;
    position: absolute;
    outline: 2px solid rgb(235,234,232);
}
#slider {
    width: 100px;
    height: 100px;
    background: black;
    opacity: 0.6;
    position: absolute;
    left: 0;
    top: 0;
    cursor: move;
    display: none;
}
#img2 {
    position: absolute;
    right: 527px;
    top: 211px;
    display: none;
    width: 400px;
    height: 400px;
    overflow: hidden;
    outline: 2px solid rgb(235,234,232);
}
#Bimg {
    width:1600px;
    height:1600px;
    position: absolute;
    left: 0;
    top: 0;
}
#pp0{
	width: 400px;
	height: 400px;
}
.glldown{
	width: 430px;
	height: 100px;
	float: left;
	margin-left: 20px;
	margin-top: 20px;
}
#chanpin1{
	width: 55px;
	height: 55px;
	border:2px solid rgb(255,144,3);
}
#chanpin2{
	width: 55px;
	height: 55px;
	border:2px solid white;
}
.spanr{
	float: right;
	margin-right: 20px;
}
.glr{
	width:545px;
	height: 630px;
	margin-top: 20px;
	margin-left: 20px;
	float: left;
}
.glr p{
	line-height: 25px;
}
.p2{
	color: rgb(103,102,96);
	font-size: 13px;
	margin-right: 30px;
}
.detial{
	width:500px; 
	height:360px;
	margin-top: 20px; 
}
.now{
	padding-left: 60px;
	color: rgb(255,7,84);
	font-size: 20px;
}
.yuan{
	text-decoration: line-through;
	padding-left: 20px;
}
.pcommon{
	font-size: 11px;
	/*height: 20px;*/
	margin-left: 20px;
}
.countP{
	font-size: 11px;
	float: left;
	margin-left: 20px;
}
#count1{
	display: block;
	float: left;
	width: 25px;
	height: 25px;
	border:1px solid rgb(206,203,197);
	margin-left: 70px;
	text-align: center;
	margin-top: 15px;
	cursor: pointer;
}
#count2{
	display: block;
	float: left;
	width: 25px;
	height: 25px;
	border:1px solid rgb(206,203,197);
	text-align: center;
	margin-top: 15px;
	margin-right: 20px;
	cursor: pointer;
}
#count{
	text-align: center;
	width: 45px;
	height: 25px;
	border:1px solid rgb(172,167,162);
	outline: none;
	float: left;
	background-color: white;
	margin-top: 15px;
}
.counts{
	display: block;
	float: left;
	font-size: 13px;
	margin-top: 18px;
}
#ml1{
	width: 65px;
	height: 30px;
	margin-left: 40px;
	outline: none;
	background-color: white;
	border: 1px solid rgb(255,7,84);
	background:url(../img/duigou.png) 50px 16px no-repeat;
}
#ml2{
	width: 65px;
	height: 30px;
	outline: none;
	background-color: white;
	border: none;
	border: 1px solid white;
}
#duigou{
	position: relative;
	left: -18px;
	top: 10px;
}
.panother{
	margin-top: 15px;
	margin-bottom: 15px;
	margin-left: 20px;
	font-size: 11px;
	color: rgb(102,101,96);
}
.panother span{
	margin-left: 40px;
	color: rgb(255,7,84);
	font-size: 16px;
}
.select{
	font-size: 13px;
	font-weight: bolder;
	margin-left: 85px;
}
.select span{
	color: rgb(255,144,3);
	font-size: 17px;
	margin-left: 15px;
}
.btn1{
	width: 150px;
	height: 40px;
	border: 1px solid rgb(255,7,84);
	border-radius: 5px;
	color: rgb(255,7,84);
	background-color: white;
	text-align: center;
	float: left;
	margin-top: 20px;
	margin-left: 20px;
	outline: none;
}
.btn2{
	width: 150px;
	height: 40px;
	border: 1px solid rgb(255,7,84);
	border-radius: 5px;
	color: white;
	background-color: rgb(255,7,84);
	text-align: center;
	float: left;
	margin-left: 30px;
	margin-top: 20px;
	outline: none;
}
.gr{
	width: 170px;
	height: 630px;
	float: left;
	margin-left: 8px;
}
.tail{
	width: 1180px;
	height: 400px;
	margin:0 auto;
}
.tailup{
	width: 1180px;
	height: 186px;
	margin:0 auto;
}
.loginB{
	float: left;
}
.erweima{
	float: left;
	margin-top: 30px;
}
.tailur{
	width: 955px;
	height: 186px;
	float: right;
	border-bottom: 1px solid rgb(235,234,232);
	padding-left: 70px;
}
.tailur ul{
	width: 120px;
	height: 350px;
	float: left;
	margin-top: 30px;
	padding-right: 10px;
}
.tail li{
	line-height: 24px;
}
.li1{
 	font-size: 17px;
}
.tailur a{
	text-decoration: none;
	font-size: 13px;
	color: rgb(102,101,96);
}
.taildown{
	width: 1180px;
}
.last1{
	width: 700px;
	height:25px;
	margin-top: 5px;
	margin-left: 250px;
}
.last1 li{
	width: 75px;
	height: 17px;
	border-right: 1px solid rgb(208,205,199);
	float: left;
	text-align: center;
}
.last1 a{
	color: rgb(102,101,98);
	font-size: 13px;
	display: block;
	text-decoration: none;
}
.last2{
	width: 1100px;
	height: 60px;
	margin-top: 5px;
	margin-left: 30px;
}
.last2 p{
	text-align: center;
	font-size: 12px;
	color: rgb(155,163,187);
	line-height: 20px;
}
.last3{
	width: 990px;
	height:60px;
	padding-left: 190px;
	padding-bottom: 0px;
	margin-top: 5px;
	margin:0 auto;
}
.last3 img{
	float: left;
	padding-right: 6px;
}
.p1{
	margin-top: 6px;
}
.p3{
	margin-top: 13px;
}
#meng{
	width: 100%;
	height: 100%;
	background-color: black;
	opacity: 0.2;
	display: none;
	position: fixed;
	z-index: 50;
	top: 0;
	left: 0;
}
#shopcar{
	position: fixed;
	left:550px;
	top: 240px;
	width: 400px;
	height: 200px;
	display: none;
	background-color: white;
	border:4px solid rgb(177,173,206);
	z-index: 600;
}
#XXX{
	float: right;
	outline: none;
	background-color: white;
	border:none;
	margin-right: 10px;
	margin-top:10px;
}
#zhao{
	width: 123px;
	height: 30px;
	float: left;
	background-color: rgb(255,7,84);
	color: white;
	border:1px solid rgb(255,7,84);
	text-align: center;
	margin-left:50px ;
	border-radius: 3px;
	outline: none;
}
#conti{
	width: 123px;
	height: 30px;
	float: left;
	background-color: white;
	color: rgb(255,7,84);
	border:1px solid rgb(255,7,84);
	text-align: center;
	margin-left: 45px;
	border-radius: 3px;
	outline: none;
}